* {box-sizing: border-box}
body {
	font-family: Verdana;
	margin: 0;
	background-color: #a1d0e3
	}

.navbar {
  overflow: hidden;
  margin: 0px 20vw;
  bottom:0;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  width: 25%; /* Four links of equal widths */
  text-align: center;

}

.navbar a:hover {
  color: dodgerblue;
}

.navbar a.active {
  color: black;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }

}

.header {
	background-color: #62a9e3;
	margin: 0;
	top: 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  border-radius: 50%;
  width: 150px;
  padding: 40px;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.fade-in {
animation: fadeIn ease .5s;
}

.title {
	text-align: center;
	
}

.center_align {
	text-align:center;
}

.home_head {
	background-color:white;
	padding: 10px 40px;
	margin: 10px 40px;
	height: 250px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  max-width: 100%
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.menu {
  width: 35%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.main {
  width: 65%;
  float: left;
  padding: 15px;
  border: 1px solid red;
  height: 30vw;
  font-size: 2vw;
}
.about-dog {
	max-width: 100%;
	float:left;
}

.about_head {
	background-color: #6ab0f6;
	max-width: 100%; 
	margin: 20px;
	padding: 10px;
}
.contact_grid {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-row: auto auto auto;
  float:left;
}

.contact_grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin:5px;
}
.contact_img {
  max-width: 100%;
  float: left;
  padding: 5x;
}

.contact_head {
	background-color: blue;
	max-width: 100%;
}

.grid-container_about {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 10px;
  padding: 10px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;

}

.grid-container_about > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  word-wrap: break-word;
}

.button {
	text-decoration: none;
	background-color: dodgerblue;
	text-align: center;
	padding: 5px 20px;
	margin: 5px;
	color: white;
}


.item3 {
	grid-area: 1 / 3 / span 3 / span 1;
}

.item5 {
	grid-area: 3 / 1 / span 1 / span 2;
	
}
